

<div class="card">
  <div  class="header" style="text-align: center; padding: 10px;">
    <img src="https://dashboard.vedna.in/assets/logo/vedna.jpg" alt="Company Logo" style="max-width: 100%; height: 100px;">
  </div>
  <div class="card-body">
    <div class="card-body border bg-light p-2 mx-auto" style="max-width: 700px;">
    <div>
      <!-- Header -->
      <div class="text-center mb-4 text-white p-3"style="background-color: #dc3545;">
        <h1 class="display-5">Acknowledgement of Your Issue</h1>
        <p class="mb-0"> – We’re Working on It</p>
      </div>
      <!-- Greeting -->
      <div class="p-3">
        <p class="fs-5 mb-2" style="color: #333;">
          Dear <strong>{{ data.username }}</strong>,
        </p>
      </div>

      <!-- Feedback -->
      <div class="p-3 mb-0">
        <p style="color: #555;">Thank you for reaching out to us regarding the issue you've experienced.

</p>
      </div>
      <!-- Issue Section -->
      <div  class="p-3">
        <p>
          <strong>We sincerely apologize </strong> for 
          <span class="text-danger">any inconvenience this may have caused.</span>
          
        </p>

        <p>We understand that you're facing an issue and appreciate you bringing it to our attention.</p>
        <p>Our technical team is actively investigating this, and we’re prioritizing its resolution.</p>
        <p>An update will be shared once our investigation is complete, which we expect to conclude shortly.</p>
      </div>

      <!-- Support -->
      <div  class="p-3">
        <p>
         If you have any additional information or questions, feel free to reply to this email or contact us at 
          <a href="mailto:support@example.com" class="text-primary">{{ data.support }}</a>.
        </p>
        <p class="text-center">Thank you for your patience and understanding.</p>
      </div>
      <!-- Regards -->
      <div  class="p-3">
        <p class="mb-1">Best regards,</p>
        <p class="fw-bold mb-1">{{ data.name }}</p>
        <p class="mb-1">{{ data.position }}</p>
        <p>{{ data.cmpname }}</p>
      </div>
    </div>
  </div>
</div>
</div>



  



