<div class="container p-4" style="background: #fff; max-width: 1000px; margin: auto; font-family: Arial, sans-serif; border: 1px solid #ccc;">
    <i class="fa fa-download float-right" (click)="downloadTable()" aria-hidden="true"></i><br>
 <div class="table-responsive">
    <table id="dataTable" class="table table-bordered table-striped text-center bg-light">
        
        <thead class="table-dark">
            <tr>
                <th>Parameter</th>
                <th>Study Group</th>
                <th>Control Group</th>
                <th>P Value</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>VOX-TV</td><td>45.047±4.54</td><td>38.611±1.02</td><td>&lt;0.001</td></tr>
            <tr><td>VOX-BV</td><td>2.16±0.46</td><td>1.098±0.22</td><td>&lt;0.001</td></tr>
            <tr><td>Connectivity Density</td><td>16.57±4.5</td><td>4.92±0.31</td><td>&lt;0.001</td></tr>
            <tr><td>Trabecular Number</td><td>0.7±0.1</td><td>0.54±0.11</td><td>&lt;0.001</td></tr>
            <tr><td>Trabecular Thickness</td><td>0.07±0.01</td><td>0.06±0.01</td><td>&lt;0.01</td></tr>
            <tr><td>Trabecular Spacing</td><td>1.40±1.4</td><td>1.59±0.17</td><td>&lt;0.006</td></tr>
            <tr><td>Mean 1 mg/HA/ccm</td><td>60.69±35.55</td><td>45.77±20.15</td><td>&lt;0.05</td></tr>
            <tr><td>Mean 2 mg/HA/ccm</td><td>1088.17±8.99</td><td>1048.10±4.8</td><td>&lt;0.001</td></tr>
            <tr><td>TRI -Total Volume</td><td>42.86±2.70</td><td>38.21±1.02</td><td>&lt;0.001</td></tr>
            <tr><td>TRI -Bone Volume</td><td>1.74±0.80</td><td>1.049±0.22</td><td>&lt;0.001</td></tr>
            <tr><td>TRI Bone Surface</td><td>62.89±5.77</td><td>36.58±5.71</td><td>&lt;0.001</td></tr>
            <tr><td>TRI-Trabecular Number</td><td>0.75±0.33</td><td>0.48±0.08</td><td>&lt;0.001</td></tr>
            <tr><td>TRI-Trabecular Thickness</td><td>0.054±0.01</td><td>0.043±0.01</td><td>&lt;0.007</td></tr>
        </tbody>
    </table>
</div>
</div>




